*{
    border: 1px solid black;

}

.list-of-movies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.selector-and-search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 1%
}